<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>

  <body>
    <div id="app">
      <div class="wrap">
        <div class="box">
          <div class="create-box">
            <div class="create-area">
              <textarea v-model="newMemo" cols="30" rows="5"></textarea>
            </div>
            <button @click="createNewMemo()">保存</button>
          </div>
          <div class="show-box">
            <p>◆メモ一覧</p>
            <div v-for="memo in memos" class="show-area">
              <ul>
                <template v-if="memo.data().isNotUpdate">
                  <li class="list-item">
                    {{ memo.data().text }}
                    <button @click="changeBool(memo.id)">edit</button>
                    <button @click="deleteMemo(memo.id)">delete</button>
                  </li>
                </template>
                <template v-else>
                  <input v-model="updateText" type="text" />
                  <button @click="updateMemo(memo.id)">update</button>
                  <button @click="changeBool(memo.id)">cancel</button>
                </template>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Firebaseの設定 -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase.js"></script>

    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyCmgBq2QMRftNJqmXP2qWQ6MpT-MpboBEY",
        authDomain: "vue-memo-app-fae43.firebaseapp.com",
        projectId: "vue-memo-app-fae43",
        storageBucket: "vue-memo-app-fae43.appspot.com",
        messagingSenderId: "936166349205",
        appId: "1:936166349205:web:8a70c54b87dbadf6ea7e9c",
      };
      firebase.initializeApp(firebaseConfig);

      let db = firebase.firestore();
    </script>
    <!-- Firebaseの設定 終わり-->

    <script src="https://unpkg.com/vue@next"></script>
    <script type="module">
      window.vi = Vue.createApp({
        data() {
          return {
            memos: [],
            newMemo: "",
            updateText: "",
          };
        },
        created: function () {
          // @param: なし
          // @return: なし
          //firestoreに格納されたデータを保存。
          //onSnapshotとdocChanges(), change.type=addedの取得でリアルタイム更新。
          db.collection("memos")
            .orderBy("created_at", "desc")
            .onSnapshot((querySnapshot) => {
              querySnapshot.docChanges().forEach((change) => {
                if (change.type === "added") {
                  //changeには配列が格納されているのでオブジェクトに直す。
                  //firestoreに配列は保存できない。
                  this.memos.push(Object.assign(change.doc));
                  console.log(Object.assign(change.doc.data()));
                }
              });
            });
        },
        methods: {
          // @param: なし
          // @return: なし
          //入力したメモを保存する
          createNewMemo() {
            const memo = {
              id: Math.floor(Math.random() * 100),
              text: this.newMemo,
              isNotUpdate: true,
              created_at: firebase.firestore.FieldValue.serverTimestamp(),
            };
            //memoオブジェクトをfirestoreに保存
            db.collection("memos").add(memo);
            this.newMemo = "";
          },

          // @param: memo.id
          // @return: なし
          //isNotUpdateの真偽値を操作（初期値：true）
          changeBool(id) {
            db.collection("memos").doc(id).update({
              isNotUpdate: false,
            });
          },

          // @param: memo.id
          // @return: なし
          //editで編集したテキストをmemosに保存
          updateMemo(id) {
            const index = this.memos.findIndex((memo) => memo.id == id);
            db.collection("memos").doc(id).update({
              text: this.updateText,
              isNotUpdate: true,
            });
            // this.memos.splice(index, 1, memo);
            this.updateText = "";
          },

          // @param: memo.id（firestoreのドキュメントid）
          // @return: なし
          //メモをfirestore上から削除
          deleteMemo(id) {
            db.collection("memos").doc(id).delete();
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
