<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>

  <body>
    <div id="app">
      <div class="wrap">
        <div class="box">
          <div class="create-box">
            <div class="create-area">
              <textarea v-model="newMemo" cols="30" rows="5"></textarea>
            </div>
            <button @click="createNewMemo()">保存</button>
          </div>
          <div class="show-box">
            <p>◆メモ一覧</p>
            <div v-for="memo in memos" class="show-area">
              <ul>
                <template v-if="memo.isNotUpdate">
                  <li class="list-item">
                    {{ memo.text }}
                    <button @click="changeBool(memo.id)">edit</button>
                    <button @click="deleteMemo(memo.id)">delete</button>
                  </li>
                </template>
                <template v-else>
                  <input v-model="updateText" type="text" />
                  <button @click="updateMemo(memo.id)">update</button>
                  <button @click="changeBool(memo.id)">cancel</button>
                </template>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script type="module">
      window.vi = Vue.createApp({
        data() {
          return {
            memos: [],
            newMemo: "",
            updateText: "",
          };
        },
        created: function () {
          const memoArray = JSON.parse(localStorage.getItem("key"));
          this.memos = memoArray ?? [];
        },
        methods: {
          // @param: なし
          // @return: なし
          //入力したメモを保存する
          createNewMemo() {
            const memo = {
              id: Math.floor(Math.random() * 100),
              text: this.newMemo,
              isNotUpdate: true,
            };
            this.memos.push(memo);
            this.stockLocalStorage();
            this.newMemo = "";
          },

          // @param: memo.id
          // @return: なし
          //isNotUpdateの真偽値を操作（初期値：true）
          changeBool(id) {
            let boolState = this.memos.find(
              (memo) => memo.id === id
            ).isNotUpdate;
            boolState == true
              ? (this.memos.find((memo) => memo.id === id).isNotUpdate = false)
              : (this.memos.find((memo) => memo.id === id).isNotUpdate = true);
          },

          // @param: memo.id
          // @return: なし
          //editで編集したテキストをmemosに保存
          updateMemo(id) {
            const index = this.memos.findIndex((memo) => memo.id == id);
            const memo = {
              id: id,
              text: this.updateText,
              isNotUpdate: true,
            };
            this.memos.splice(index, 1, memo);
            this.stockLocalStorage();
            this.updateText = "";
          },

          // @param: memo.id
          // @return: なし
          //メモの削除
          deleteMemo(id) {
            const index = this.memos.findIndex((memo) => memo.id == id);
            this.memos.splice(index, 1);
            this.stockLocalStorage();
          },

          // @param: なし
          // @return: なし
          //配列memosをJSONに変換してローカルストレージへ保存
          stockLocalStorage() {
            const jsonMemoArray = JSON.stringify(this.memos);
            localStorage.setItem("key", jsonMemoArray);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
