<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sample2.css">
    <title>Document</title>
</head>
<div id="app">
    <header>
    <h1>{{ docTitle }}</h1>
    </header>
    <main>
        <input type="text" id="key" v-model="title">
        <textarea id="memo" v-model="txt"></textarea>
        <ul>
            <li v-bind:id="btn.id" v-for="(btn,i) in btns" v-on:click="clickHandler(i)">{{ btn.name }}</li>
        </ul>
    </main>
    <table id="list">
        <thead>
            <tr>
                <th colspan="2">The table header</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="memo in memos">
                <td>{{ memo.title }}</td>
                <td>{{ memo.txt }}</td>
            </tr>
            <tr>
                <td>{{ title }}</td>
                <td>{{ txt }}</td>
            </tr>
        </tbody>
    </table>
    <footer>
        
    </footer>
</div>
<body>
<script src="https://unpkg.com/vue@next"></script>
<script>

window.vi = Vue.createApp({
    data() {
        return {
            key:'memopad',
            docTitle:'MemoPad',
            btns:[{
                id:'save_btn',
                name:'Save'
            },{
                id:'clear_btn',
                name:'Clear'
            }],
            memos:[],
            title:'',
            txt:''
        }
    },
    computed: {
    },
    methods: {
        //Save,Clear`のボタンをclickした時に動作
        //引数 idx : save, clearボタンのv-forのindex
        //返値 void
        clickHandler(idx){
            idx === 0 ? this.saveMemo() : this.clearMemo()
        },
        // v-modelで書いてる内容をmemos,localstrageに保存
        // 引数なし
        // 返値なし
        saveMemo(){
            this.memos.push({
                id:this.memos.length+1,
                title:this.title,
                txt:this.txt
            })
            localStorage.setItem(this.key,JSON.stringify(this.memos)),
            this.clearInput()
        },
        
        // memosの配列,localstrageを消す
        // 引数なし
        // 返値なし
        clearMemo(){
            this.memos = []
            localStorage.clear()
            this.clearInput()
        },
        clearInput(){
            this.title = '',
            this.txt =  ''
        }
    },
    mounted() {
            this.memos = JSON.parse(localStorage.getItem(this.key))
    }
}).mount('#app')


</script>
</body>
</html>